body,p,h1,h2,h3,h4,h5,h6,ul,dl,li,dt,dd,input,form,span{
    margin:0px;/*外边距*/
	list-style:none;/*清除小圆点*/
	padding:0px;/*填充*/
	font-family:Arial,"微软雅黑","黑体";
	font-size:14px;
}
a{
    color: #1b8ad1
}
a:visited{
    color: #1b8ad1
}
html{
    min-width: 1000px;
}
img{
    border:none;
    margin:0;
    padding:0;
}
a{
    color:#333;
	text-decoration:none;/*取消下划线*/
}
a:hover{
    color: #1b8ad1;
}
/* 头部开始 */
.header{
    width: 100%;
    height: 132px;
    background: url(../images/headoutbg.jpg) repeat-x;
    position: relative;
    z-index: 20;
}
.header .time{
    text-align: right;
    padding-right: 30px;
}
.headercontent{
    width: 1000px;
    height: 150px;
    /* background:url()px; */
    height: 100%;
    margin: 0 auto;
}
.schoolName{
    width: 600px;
    margin-top: 30px;
}
.xiaohui{
    width: 100px;
    position: relative;
    top: 10px;
}
#op{
    width: 240px;
    height: 100px;
    background: blue;
}
/* 头部结束 */
/* 导航开始 */
.nav{
    width: 100%;
    height: 50px;
    background: url(../images/navbg1.gif) repeat-x;
    position: relative;
    z-index: 10;
}
.navcontent{
    width: 1000px;
    height: 150px;
    /* background:url()px; */
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
}
.navcontent a{
    /* padding: 0 50px; */
    width: 14.2%;
    text-align: center;
    color: white;
    float: left;
    line-height: 47px;
    position: relative;
}
.navcontent a:hover .down{
    top: 100%;
    transition: all 1s;
}
.navcontent span{
    display: inline-block;
    width: 100%;
    height: 44px;
    border-right: 1px dashed #ccc;
}
.navcontent span.last{
    border-right: 0;
}
.navcontent a:hover span{
    background: #137ABD;
}
.navcontent a .down{
    top: -230px;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 40px;
    text-align: center;
    z-index: -1;
    background: #93B9D1;
}
.navcontent a .down li{
    border-bottom: 1px solid #fff;
}
/* 导航结束 */
/* banner开始 */
.bannerbox{
    width: 1000px;
    height: 150px;
    background:url()px;
    height: 300px;
    margin: 0 auto;
}
.bannerbox .video{
    overflow: hidden;
    width: 49.5%;
    height: 100%;
    background: blue;
    display: inline-block;;
}
#banner { position: relative; width: 50%; height: 100%; border: 1px solid #666; overflow: hidden;display: inline-block; box-sizing: border-box; }


#banner_list img { 
    border: 0px;
    width: 100%;
    height: 300px;
 }

#banner_bg { position: absolute; bottom: 0; background-color: #000; height: 30px; filter: Alpha(Opacity=30); opacity: 0.3; z-index: 1000; cursor: pointer; width: 100%; }

#banner_info { position: absolute; bottom: 0; left: 5px; height: 22px; color: #fff; z-index: 1001; cursor: pointer }

#banner_text { position: absolute; width: 120px; z-index: 1002; right: 3px; bottom: 3px; }

#banner ul { position: absolute; list-style-type: none; filter: Alpha(Opacity=80); opacity: 0.8; z-index: 1002; margin: 0; padding: 0; bottom: 3px; right: 5px; }

#banner ul li { padding: 0px 8px; float: left; display: block; color: #FFF; background: #6f4f67; cursor: pointer; border: 1px solid #333; }

#banner ul li.on { background-color: #000; }

#banner_list a { position: absolute;width: 100%; }
#my-video{
    object-fit:fill;
}
/* banner结束 */
.middlecontent{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* 内容第一栏开始 */
.middlecontent .colum{
    display: block;
    position: relative;
    width: 1000px;
    height: 150px;
    background:url()px;
    background:red url(../images/timg.jpg) center center no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 100px;
    overflow: hidden;
}
.middlecontent .colum .fuceng{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.3;
}
.middlecontent .colum a{
    position: relative;
    z-index: 10;
}
.middlecontent .colum .columcontent{
    display: block;
    width: 100%;
    margin-top: 25px;
    margin-left: 20px;
}
.middlecontent .firstLine{
    margin: 0 auto;
    width: 1000px;
    height: 220px;
}
.middlecontent .firstLine .shenbao{
    width: 49%;
    height: 100%;
    margin-top: 20px;
    float: left;
}
.middlecontent .firstLine .news{
    margin-right: 2%;
    
}
.middlecontent .firstLine .shenbao .title{
    height: 30px;
    line-height: 30px;
    width: 100%;
    /* background: url(../images/panbg2.jpg) repeat-x; */
    border-bottom: 1px solid #1b8ad1;
    color: #024a78;
    font-size: 14px;
}
.middlecontent .firstLine .shenbao .title .icon{
    width: 3px;
    height: 15px;
    float: left;
    margin-top: 8px;
    margin-left: 5px;
    /* height: 100%; */
    /* background: url(../images/news.gif) 0 5px no-repeat; */
    background: #1b8ad1;
    margin-right: 10px;
}
.middlecontent .firstLine .shenbao .title .more{
    width: 50px;
    height: 100%;
    float: right;
    color: #bbbbbb;
    font-size: 14px;
}
.middlecontent .firstLine .shenbao .list{
    /* border: 1px solid #0093c0; */
    padding: 17px 5px 13px 5px;
}
.middlecontent .firstLine .shenbao .list li{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    border-bottom: 1px dashed #7f7f7f;
}
.middlecontent .firstLine .shenbao .list li:hover{
    box-shadow: 5px 5px 7px 0px #000;
    position: relative;
    z-index: 10;
    background: #000;
}
.middlecontent .firstLine .shenbao .list li:hover span{
    color: #1b8ad1;
}
.middlecontent .firstLine .shenbao .list li .date{
    display: block;
    float: right;
    color: #393939;
}
.middlecontent .firstLine .shenbao .list li .left a{
    display: block;
    width: 70%;
    float: left;
    height: 30px;
    overflow: hidden;
    color: #393939;
    background: url(../images/icon3.jpg) 0 12px no-repeat;
    padding-left: 10px;
}
.middlecontent .firstLine .shenbao .list li .left a:hover{
    color: #1b8ad1;    
}
.middlecontent  .shenbaoline{
    height: 190px;
}
.middlecontent  .shenbaoline .shenbao{
    width: 30%;
    margin-right: 5%;
    height: auto;
}
.middlecontent  .shenbaoline .shenbao:last-child{
    margin-right: 0;
}
.middlecontent .shenlineTwo .shenbao{
    width: 48%;
    margin-right: 4%;
}
/* 内容第一栏结束 */
/* 内容专题栏开始 */
/* 内容专题栏结束 */
/* 专业栏开始 */
.major{
    width: 1000px;
    height: 200px;
    /* overflow: hidden; */
    margin: 0 auto;
}
.clearfix:after{content:"";display:block;clear:both;}

.clearfix{zoom:1;}

/* banner */

.major-banner{ width: 100%; height: 200px; position: relative; overflow: hidden; margin-bottom: 0; margin-left: auto; margin-right: auto; margin-top: 10px; }

.banner-btn{display:none;}

.banner-btn a{display:block;line-height:40px;position:absolute;top:120px;width:40px;height:40px;background-color:#000;opacity:0.3;filter:alpha(opacity=30) color:rgb(255, 255, 255);overflow:hidden;z-index:4;}

.prevBtn{left:5px;}

.nextBtn{right:5px;}

.banner-img{font-size:0;*word-spacing:-1px;/* IE6、7 */ letter-spacing:-3px;position:relative;}

.banner-img li{display:inline-block;*display:inline;*zoom:1;/* IE6、7 */ vertical-align:top;letter-spacing:normal;word-spacing:normal;font-size:12px;}

.major-banner i{background:url(http://gtms01.alicdn.com/tps/i1/T1szNBFzlmXXX8QSDI-400-340.png)  no-repeat;width:15px;height:23px;cursor:pointer;margin:8px 0 0 12px;display:block;}

.major-banner .nextBtn i{background-position:-200px -24px;}

.major-banner .prevBtn i{background-position:-200px 0px;}



.banner-circle{position:absolute;left:50%;bottom:15px;height:13px;text-align:center;font-size:0;border-radius:10px;background:rgba(255,255,255,0.3);filter:alpha(opacity:30)}

.banner-circle li{border-radius:10px;margin:2px;display:inline-block;display:-moz-inline-stack;vertical-align:middle;zoom:1;}

.banner-circle li a{display:block;padding-top:9px;width:9px;height:0;border-radius:50%;background:#B7B7B7;overflow:hidden;}

.banner-circle .selected a{background:#F40;}

/* 专业栏目结束 */
.process{
    width: 1000px;
    margin: 0 auto;
    height: 150px;
}
.process .processList{
    border: 1px solid #fff;
    float: left;
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    position: relative;
    cursor: pointer;
    /* background: blue; */
}
.process .processList .processName{
    top: 30%;
    font-size: 20px;
    transition: all .5s;
    text-align: center;
    font-weight: 400;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    color: white;
    word-break: break-all;
    opacity: 0;
    filter:alpha(opacity=0);
    transform: scale(0)
}
.process .processList:hover .processImg{
    cursor: pointer;
    transform: scale(1.2);
    z-index: 10;
}
.process .processList:hover .fuceng{
    background: transparent;
    
}
.process .processList:hover .processName{
    opacity: 1;
    filter:alpha(opacity=100);
    z-index: 11;
    transform: rotate(360);
    transform: scale(1);
}
.process .processList .fuceng{
    transition: all .5s;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    filter:alpha(opacity=30);
    z-index: 2;
}
.process .processList .processImg{
    transition: all .5s;
    position: absolute;
    width: 100%;
    height: 100%;
    
}
.middleImage{
    margin: 0 auto;
    width: 1000px;
    height: 180px;
    overflow: hidden;
}
.middleImage img{
    width: 1400px;
    height: 100%;
}
/* 底部栏开始 */
.footer{
    width: 100%;
    height: 170px;
    background: #0b4c7e;
    background: url(../images/headoutbg.jpg);
    background-size: contain;
    overflow: hidden;
}
.footer .footercontent{
    width: 1000px;
    height: 100%;
    padding: 20px 30px;
    margin: 0 auto;
    /* text-align: center; */
    color: #333;
}
.footer .footercontent p{
    line-height: 25px;
}
.footer .footercontent .bottom .title{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.footer .footercontent .bottom{
    width: 27%;
    padding: 10px 15px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    line-height: 30px;
}
.footer .footercontent .bottom:first-child{
    width: 19%;
    padding: 0;
    position: relative;
}
.footer .footercontent .bottom img{
    width: 70%;
}
/* 底部栏结束 */