.subNavBox {
    width: 200px;
    min-height: 365px;
    border: solid 1px #e5e3da;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}

.subNav {
    border-bottom: solid 1px #e5e3da;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    color: #999;
    line-height: 45px;
    padding-left: 10px;
    background: url(../images/ee.png) no-repeat;
    background-size: 10px 10px;
    background-position: 95% 50%;
}

.subNavBox>.subNav:nth-child(1) {
    background-image: none;
}

.subNavBox>.subNav:nth-child(2) {
    background-image: none;
}

.subNav:hover {
    color: #277fc2;
}

.currentDd {
    color: #1b8ad1;
}

.currentDt {
    background-color: #1b8ad1;
    color: white;
    background-image: url(../images/jiantou.png);
}

.navbox .currentDt:hover {
    color: white;
}

.navContent {
    display: none;
    border-bottom: solid 1px #e5e3da;
}

.subNavBox .navContent li a {
    display: block;
    width: 200px;
    text-align: center;
    font-size: 14px;
    line-height: 42px;
    color: #333;
}

.subNavBox .navContent li {
    line-height: 42px;
}

.subNavBox .navContent li a:hover {
    color: #fff;
    background-color: #1b8ad1;
}

.navbox {
    width: 1000px;
    min-height: 120px;
    margin: 0 auto;
}

.navbox .title {
    /* margin: 10px 0; */
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    text-align: center;
    padding-bottom: 20px;
    color: red;
    font-size: 30px;
}

.navbox .topbook {
    text-align: center;
    margin: 10px;
    font-size: 16px;
}

.navbox .topbook a {
    color: #1b8ad1;
}

.navbox .right {
    border-radius: 5px;
    float: right;
    width: 797px;
    background: #F6F4E7;
    min-height: 600px;
    box-sizing: border-box;
    padding: 15px 20px;
    border: 1px solid #ddd;
}

.navbox .clear {
    clear: both;
}

.cailiao .subNav {
    padding-left: 40px;
}

.right .navContent {
    display: block;
    border-bottom: none;
}

.right .navContent li {
    line-height: 42px;
    border-bottom: 1px dashed #1b8ad1;
    padding-left: 20px;
    cursor: pointer;
}

.right .navContent li:hover a {
    color: #1b8ad1;
}

.right .ember {
    line-height: 42px;
    border-bottom: 1px dashed #1b8ad1;
    padding-left: 25px;
}

.right .ember .date {
    float: right;
    margin-right: 20px;
}

.right .ember:hover {
    color: #1b8ad1;
    cursor: pointer;
}


.right .navContent li {
    background: url(../images/lefttitle.png) no-repeat 5px 18px;
    background-size: 5px 5px;
}
.ember{
    background: url(../images/swf.png) no-repeat 0 10px;
    background-size: 20px 20px;
}
.navContent:last-child {
    border-bottom: none;
}
.middlecontent{
    /* background: url(../images/beijing.jpg) repeat-x; */
    /* background: #F6F4E7; */
    /* background-size: 2000px 800px; */
    /* background-position: center; */
    padding-top: 20px;
    min-height: 600px;
    margin: 0;
}
.crumbs a{
    color: #000;
}
.crumbs a:hover{
    color: #1b8ad1;
}