<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中阳县职教中心</title>
    <link rel="icon" href="../images/xiaohui.png">
</head>
<script src="../js/jquery.js"></script>
<style>
    .middleContent{
        width: 1000px;
        margin: 0 auto;
    }
    .crumbs{
        margin-top: 15px;
        line-height: 50px;
        border: 1px solid #ddd;
        padding-left: 35px;
        border-top: #6DAAEA solid 2px;
        background-color: #F7FAFD;
        height: 35px;
        line-height: 35px;
        background: #F7FAFD url(../images/home.gif) no-repeat;
        background-position: 9px 9px;
    }
    .innerHtml{
        padding: 10px;
        margin-top: 20px;
        
    }
    .innerHtml img{
        width: 100%;
    }
</style>
<body>
    <!-- 头部开始 -->
    <div class="header">
        <div class="headercontent">
            <img src="../images/xiaohui.png" alt="" class="xiaohui">
            <img class="schoolName" src="../images/zhijiaozhongxin.png" alt="">
            <div class="time"></div>
        </div>
    </div>
    <!-- 头部结束 -->
    <!-- 导航开始 -->
    <div class="nav">
        <div class="navcontent">
                <div class="navcontent">
                        <a href="/">
                            <span>网站首页</span>
                        </a>
                        <a href="javascript:;" class='category'>
                            <span>学校简介</span>
                        </a>
                        <a href="javascript:;" class='category'>
                            <span class="topnav">学校管理</span>
                            <ul class="down">
                                <li type="one" childType="first">办学方向</li>
                                <li type="one" childType="second">办学行为</li>
                                <li type="one"  childType="third">队伍管理</li>
                                <li type="one"  childType="fourth">管理水平</li>
                            </ul>
                        </a>
                        <a href="javascript:;" class='category'>
                            <span class="topnav">基础条件</span>
                            <ul class="down">
                                <li type="two" childType="first">校园宿舍</li>
                                <li type="two" childType="second">设施设备</li>
                                <li type="two" childType="third">师资队伍</li>
                                <li type="two" childType="fourth">信息化建设</li>
                                <li type="two" childType="fifth">办学环境</li>
            
                            </ul>
                        </a>
                        <a href="javascript:;" class='category'>
                            <span class="topnav">校企合作</span>
                            <ul class="down">
                                <li type="three" childType="first">办学模式</li>
                                <li type="three" childType="second">顶岗实习</li>
                                <li type="three" childType="third">专家参与</li>
                            </ul>
                        </a>
                        <a href="javascript:;" class='category'>
                            <span class="topnav">教育教学</span>
                            <ul class="down">
                                <li type="four" childType="first">德育工作</li>
                                <li type="four" childType="second">专业建设</li>
                                <li type="four" childType="third">模式创新</li>
                                <li type="four" childType="fourth">课程体系</li>
                                <li type="four" childType="fourth">师资队伍建设</li>
                            </ul>
                        </a>
                        
                        <a href="javascript:;" class='category'>
                            <span class="topnav last">办学效益</span>
                            <ul class="down">
                                <li type="five" childType="first">招生就业</li>
                                <li type="five" childType="second">教育成果</li>
                                <li type="five" childType="third">服务社会</li>
                                <li type="five" childType="fourth">社会贡献</li>
                            </ul>
                        </a>
                </div>
        </div>
    </div>
    <!-- 导航结束 -->
    <div class="middleContent">
        <div class="crumbs">您当前位置：<a href="/">网站首页</a><span> / 网站首页</span></div>
        <div class="innerHtml">
            
        </div>
    </div>
    <!-- 底部栏开始 -->
    <div class="footer">
            <div class="footercontent">
                <div class="bottom">
                    <img src="../images/xiaohui.png" alt="">
                </div>
                <div class="bottom">
                    <div class="title">学校电话</div>
                    <ul>
                        <li>教导处电话：</li>
                        <li>政教处电话：</li>
                        
                    </ul>
                </div>
                <div class="bottom">
                    <div class="title">官方媒体</div>
                    <ul>
                        <li>官方微信：中阳职教中心</li>
                        <li>官方网站：zyxzjzx.duapp.com</li>
                        
                    </ul>
                </div>
                <div class="bottom">
                    <div class="title">联系我们</div>
                    <ul>
                        <li>地址：山西省中阳县宁乡镇凤城北街高级职业中心</li>
                        <li>邮编：033000</li>
                        
                    </ul>
                </div>
            </div>
        </div>
    <!-- 底部栏结束 -->
</body>
<link rel="stylesheet" href="../css/index.css">

<script src="../js/index.js"></script>
<script src="../js/detail.js"></script>
</html>