<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中阳县职教中心</title>
    <link rel="icon" href="../images/xiaohui.png">
</head>
<script src="../js/jquery.js"></script>
<style>
    .middleContent{
        width: 1000px;
        margin: 0 auto;
    }
    .crumbs{
        line-height: 50px;
        border: 1px solid #ddd;
        padding-left: 20px;
    }
    .innerHtml{
        padding: 10px;
        margin-top: 20px;
        border: 1px solid #ddd;
    }
    .innerHtml img{
        width: 100%;
    }
</style>
<body>
    <!-- 头部开始 -->
    <div class="header">
        <div class="headercontent">
            <img src="../images/xiaohui.png" alt="" class="xiaohui">
            <img class="schoolName" src="../images/zhijiaozhongxin.png" alt="">
            <div class="time"></div>
        </div>
    </div>
    <!-- 头部结束 -->
    <!-- 导航开始 -->
    <div class="nav">
        <div class="navcontent">
                <a href="/">
                    <span>网站首页</span>
                </a>
                <a href="javascript:;" class='category'>
                    <span>学校管理</span>
                    <ul class="down">
                        <li>办学方向</li>
                        <li>办学行为</li>
                        <li>队伍管理</li>
                        <li>管理水平</li>
                    </ul>
                </a>
                <a href="javascript:;" class='category'>
                    <span>基础条件</span>
                    <ul class="down">
                        <li>校园宿舍</li>
                        <li>设施设备</li>
                        <li>师资队伍</li>
                        <li>信息化建设</li>
                        <li>办学环境</li>
    
                    </ul>
                </a>
                <a href="javascript:;" class='category'>
                    <span>校企合作</span>
                    <ul class="down">
                        <li>办学模式</li>
                        <li>顶岗实习</li>
                        <li>专家参与</li>
                    </ul>
                </a>
                <a href="javascript:;" class='category'>
                    <span>教育教学</span>
                    <ul class="down">
                        <li>办学方向</li>
                        <li>办学行为</li>
                        <li>队伍管理</li>
                        <li>管理水平</li>
                    </ul>
                </a>
                <a href="javascript:;" class='category'>
                    <span>教育教学</span>
                    <ul class="down">
                        <li>德育工作</li>
                        <li>专业建设</li>
                        <li>模式创新</li>
                        <li>课程体系</li>
                    </ul>
                </a>
                <a href="javascript:;" class='category'>
                    <span class="last">办学效益</span>
                    <ul class="down">
                        <li>招生就业</li>
                        <li>教育成果</li>
                        <li>服务社会</li>
                        <li>社会贡献</li>
                    </ul>
                </a>
        </div>
    </div>
    <!-- 导航结束 -->
    <div class="middleContent">
        <div class="crumbs"><a href="/">网站首页</a><span> / 网站首页</span></div>
        <div class="innerHtml">
            
        </div>
    </div>
    <!-- 底部栏开始 -->
    <div class="footer">
            <div class="footercontent">
                <div class="bottom">
                    <img src="../images/xiaohui.png" alt="">
                </div>
                <div class="bottom">
                    <div class="title">学校电话</div>
                    <ul>
                        <li>教导处电话：</li>
                        <li>政教处电话：</li>
                        
                    </ul>
                </div>
                <div class="bottom">
                    <div class="title">官方媒体</div>
                    <ul>
                        <li>官方微信：中阳职教中心</li>
                        <li>官方网站：zyxzjzx.duapp.com</li>
                        
                    </ul>
                </div>
                <div class="bottom">
                    <div class="title">联系我们</div>
                    <ul>
                        <li>地址：山西省中阳县宁乡镇凤城北街高级职业中心</li>
                        <li>邮编：033000</li>
                        
                    </ul>
                </div>
            </div>
        </div>
    <!-- 底部栏结束 -->
</body>
<link rel="stylesheet" href="../css/index.css">

<script src="../js/index.js"></script>
<script src="../js/detail.js"></script>
</html>