<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章内容编辑</title>
</head>
<script type="text/javascript" src="../wangEditor/release/wangEditor.min.js"></script>
<!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script> -->
<script src="../js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="../wangEditor/release/wangEditor.min.css">
<link rel="stylesheet" href="../css/edite.css">
<body>
    <div class="outcontet">
        <div class="topmenu">
            <b>后台管理系统</b>
        </div>
       <div class="leftnav">
            <div class="subNavBox">
                <div class="navContent topnav" style="display: block">
                    <li type="newslist" childType="news" class="subNav currentDd currentDt" id="schoolManage">校园快讯</li>
                    <li type="newslist" childType="notice" class="subNav" id="schoolManage">通知公告</li>
                </div>
                <ul class="navContent cailiao" style='display:block'>
                    <div class="subNav" id="schoolManage">学校概况</div>
                    <ul class="navContent">
                        <li type="zero" childType="first"><a href="javascript:;">学校简介</a></li> 
                        <li type="zero" childType="second"><a href="javascript:;">领导班子</a></li>
                        <li type="zero"  childType="third"><a href="javascript:;">机构建设</a></li>
                        <li type="zero"  childType="fourth"><a href="javascript:;">学校荣誉</a></li>
                        <li type="zero"  childType="fifth"><a href="javascript:;">校园风貌</a></li>
                        <li type="zero"  childType="sixth"><a href="javascript:;">专业建设</a></li>

                    </ul>    
                    <div class="subNav" id="schoolManage">学校管理</div>
                    <ul class="navContent">

                        <li type="one" childType="first"><a href="javascript:;">办学方向</a></li>
 
                        <li type="one" childType="second"><a href="javascript:;">办学行为</a></li>

                        <li type="one"  childType="third"><a href="javascript:;">管理队伍</a></li>

                        <li type="one"  childType="fourth"><a href="javascript:;">管理水平</a></li>

                    </ul>
                    <div class="subNav" id="base">基础条件</div>

                    <ul class="navContent">

                        <li type="two" childType="first"><a href="javascript:;">校园校舍</a></li>

                        <li type="two" childType="second"><a href="javascript:;">设施设备</a></li>

                        <li type="two" childType="third"><a href="javascript:;">师资队伍</a></li>

                        <li type="two" childType="fourth"><a href="javascript:;">信息化建设</a></li>
                        <li type="two" childType="fifth"><a href="javascript:;">办学环境</a></li>
                    </ul>

                    <div class="subNav" id="coorate">校企合作</div>

                    <ul class="navContent">

                        <li type="three" childType="first"><a href="javascript:;">办学模式</a></li>

                        <li type="three" childType="second"><a href="javascript:;">顶岗实习</a></li>

                        <li type="three" childType="third"><a href="javascript:;">专家参与</a></li>

                    </ul>

                    <div class="subNav" id="teach">教育教学</div>

                    <ul class="navContent">

                        <li type="four" childType="first"><a href="javascript:;">德育工作</a></li>

                        <li type="four" childType="second"><a href="javascript:;">专业建设</a></li>

                        <li type="four" childType="third"><a href="javascript:;">模式创新</a></li>

                        <li type="four" childType="fourth"><a href="javascript:;">课程体系</a></li>

                        <li type="four" childType="fifth"><a href="javascript:;">师资队伍建设</a></li>

                    </ul>
                    <div class="subNav" id="banefit">办学效益</div>

                    <ul class="navContent">

                        <li type="five" childType="first"><a href="javascript:;">招生就业</a></li>

                        <li type="five" childType="second"><a href="javascript:;">教育成果</a></li>

                        <li type="five" childType="third"><a href="javascript:;">服务社会</a></li>

                        <li type="five" childType="fourth"><a href="javascript:;">社会贡献</a></li>

                    </ul>
                    <div class="subNav" id="banefit">首页内容</div>
                    <ul class="navContent">

                        <li type="six" childType="first"><a href="javascript:;">教学研究</a></li>

                        <li type="six" childType="second"><a href="javascript:;">招生就业</a></li>

                        <li type="six" childType="third"><a href="javascript:;">校企合作</a></li>

                        <li type="six" childType="fourth"><a href="javascript:;">专业设置</a></li>
                        <li type="six" childType="fifth"><a href="javascript:;">校园文化</a></li>
                        <li type="six" childType="sixth"><a href="javascript:;">德育工作</a></li>
                        

                    </ul>
                </ul>
            </div> 
                
        </div>
        <div class="right">
            <div class="r_inner">
                <div class="newslist">    
                    <ul class="contentList">
                        <li class='title'><b style="position: relative;top: 10px">学校简介</b><button class='addButton'>新增数据</button></li>
                        <div class="innerList"></div>
                    </ul>
                </div> 
                <div class="editepage" style="display: none">
                        <span><span class="red">*</span>请选择发表文章类型：<span class="title"></span></span>
                    <div style="margin-top: 15px;">
                        <span><span class="red">*</span>请输入文章标题：</span>
                        <input class="getTitle" type="text"/>
                    </div>
                        <div class="editContent"><span class="red">*</span>文章内容：</div>
                        <div id="editor"></div>
                        <div class="buttons">
                            <!--<button id="btn1">销毁编辑器</button>
                            <button id="btn2">恢复编辑器</button>
                            <button id="btn3">追加内容</button>-->
                            <button id="btn4">清空内容</button>
                            <button id="btn5">保存内容</button>
                            <button id="btn6">返回</button>
                        </div>
                        
                </div>
                
            </div>
                
        </div>
        
    
</body>
<script>
    var editor = new wangEditor('#editor');
    editor.customConfig.onchange = function (html) {
        // 监控变化
    }
    //上传图片
    editor.customConfig.uploadImgServer = '/upload'
    // 设置 headers（举例）
    
    // 关闭粘贴样式的过滤
    editor.customConfig.pasteFilterStyle = false
    editor.customConfig.pasteTextHandle = function (content) {
        // content 即粘贴过来的内容（html 或 纯文本），可进行自定义处理然后返回
        return content + ''
    }
    // 上传图片接口
    // editor.customConfig.uploadImgServer = '/upload'
    // 使用 base64 保存图片
    //editor.customConfig.uploadImgShowBase64 = true  
    // 限制上传图片大小为3M 
    //editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024
    editor.create();
    $('.w-e-text-container').css('height','500px');
    $('#btn1').click(function () {
        // 禁用编辑器
        editor.$textElem.attr('contenteditable', false)
    });

    $('#btn2').click(function () {
        // 开启编辑器
        editor.$textElem.attr('contenteditable', true)
        
    });
    $('#btn3').click(function () {
        // 创建编辑器之后继续追加内容
        editor.txt.append('<p>追加的内容</p>')
    });
    $('#btn4').click(function () {
        // 创建编辑器之后继续追加内容
        editor.txt.html('');
    });
    // 初始化编辑器的内容
    editor.txt.html('');
    // 调整编辑器的层级，默认是1000
    editor.customConfig.zIndex = 100
   
</script>
</html>
<script src="../js/edite.js"></script>

