<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中阳县职教中心</title>
    <link rel="icon" href="../images/xiaohui.png">
</head>
<link rel="stylesheet" href="../css/index.css">
<script src="../js/jquery.js"></script>
<body>
    <!-- 头部开始 -->
    <div class="header">
        <div class="headercontent">
            <img src="../images/xiaohui.png" alt="" class="xiaohui">
            <img class="schoolName" src="../images/zhijiaozhongxin.png" alt="">
            <div class="time"></div>
        </div>
    <!-- 头部结束 -->
    </div>
    <!-- 导航开始 -->
    <div class="nav">
            <div class="navcontent">
                    <div class="navcontent">
                            <a href="/">
                                <span>网站首页</span>
                            </a>
                            <a href="javascript:;" class='category'>
                                    <span class="topnav">学校概况</span>
                                    <ul class="down">
                                        <li type="zero" childType="first">学校简介</li>
                                        <li type="zero" childType="second">领导班子</li>
                                        <li type="zero"  childType="third">机构建设</li>
                                        <li type="zero"  childType="fourth">学校荣誉</li>
                                        <li type="zero"  childType="fifth">校园风貌</li>
                                        <li type="zero"  childType="sixth">专业建设</li>
                                    </ul>
                            </a>
                            <a href="javascript:;" class='category'>
                                <span class="topnav">学校管理</span>
                                <ul class="down">
                                    <li type="one" childType="first">办学方向</li>
                                    <li type="one" childType="second">办学行为</li>
                                    <li type="one"  childType="third">队伍管理</li>
                                    <li type="one"  childType="fourth">管理水平</li>
                                </ul>
                            </a>
                            <a href="javascript:;" class='category'>
                                <span class="topnav">基础条件</span>
                                <ul class="down">
                                    <li type="two" childType="first">校园宿舍</li>
                                    <li type="two" childType="second">设施设备</li>
                                    <li type="two" childType="third">师资队伍</li>
                                    <li type="two" childType="fourth">信息化建设</li>
                                    <li type="two" childType="fifth">办学环境</li>
                
                                </ul>
                            </a>
                            <a href="javascript:;" class='category'>
                                <span class="topnav">校企合作</span>
                                <ul class="down">
                                    <li type="three" childType="first">办学模式</li>
                                    <li type="three" childType="second">顶岗实习</li>
                                    <li type="three" childType="third">专家参与</li>
                                </ul>
                            </a>
                            <a href="javascript:;" class='category'>
                                <span class="topnav">教育教学</span>
                                <ul class="down">
                                    <li type="four" childType="first">德育工作</li>
                                    <li type="four" childType="second">专业建设</li>
                                    <li type="four" childType="third">模式创新</li>
                                    <li type="four" childType="fourth">课程体系</li>
                                    <li type="four" childType="fourth">师资队伍建设</li>
                                </ul>
                            </a>
                            
                            <a href="javascript:;" class='category'>
                                <span class="topnav last">办学效益</span>
                                <ul class="down">
                                    <li type="five" childType="first">招生就业</li>
                                    <li type="five" childType="second">教育成果</li>
                                    <li type="five" childType="third">服务社会</li>
                                    <li type="five" childType="fourth">社会贡献</li>
                                </ul>
                            </a>
                    </div>
            </div>
    </div>
    <!-- 导航结束 -->
    <!-- banner开始 -->
    <div class="banner">
        <div class="bannerbox">    
        <div id="banner">
        
          <div id="banner_bg"></div>
        
          <!--标题背景-->
        
          <div id="banner_info"></div>
        
          <!--标题-->
        
          <ul>
        
            <li class="on">1</li>
        
            <li>2</li>
        
            <li>3</li>
        
            <li>4</li>
        
          </ul>
        
          <div id="banner_list"> 
        
            <li><img src="../images/banner1.webp" title="校园风采" alt="校园风采"/></li> 
        
            <li><img src="../images/banner2.webp" title="县人大领导来我校调研" alt="县人大领导来我校调研"/></li> 
        
            <li><img src="../images/banner3.jpg" title="学生军训实录" alt="学生军训实录"/></li> 
        
            <li><img src="../images/banner4.webp" title="学生风采" alt="学生风采"/></li> 
        
         </div>
        
        </div>
        </div>
    </div>
    <!-- banner结束 -->
    <div class="middlecontent">
        <!-- 内容专题栏开始 -->
        <div class="colum">
            <div class="fuceng"></div>
            <a href="./shenbao"><img src="../images/shenbao.png" alt="" class="columcontent"></a>
        </div>
        <!-- 内容专题栏结束 -->
        <!-- 内容第一栏开始 -->
        <div class="first">
            <div class="shenbao">
                <div class="title">
                    <div class="icon"></div>
                    <b>校园快讯</b>
                    <a href='#' class="more">更多>></a>
                </div>
                <ul class="list">
                    <li><span class="left"><a href="/detail">中阳职中给您拜年啦！</a></span><span class="date">2018年2月15日</span></li>
                    <li><span class="left"><a href="#">中阳职中2017年总结表彰暨迎新联欢会圆满结束</a></span><span class="date">2017年12月29日</span></li>
                    <li><span class="left"><a href="#">中阳职中班级文化建设火热开展</a></span><span class="date">2017年12月29日</span></li>
                    <li><span class="left"><a href="#">中阳职中班级文化建设火热开展</a></span><span class="date">2017年12月21日</span></li>
                    <li><span class="left"><a href="#">中阳职中开展2017年秋季家长开放周活动</a></span><span class="date">2017年12月21日</span></li>
                </ul>    
            </div>
            <div class="shenbao">
                    <div class="title">
                        <div class="icon notice"></div>
                        <b>通知公告</b>
                        <a href='#' class="more">更多>></a>
                    </div>
                    <ul class="list">
                        <li><span class="left"><a href="#">中阳县职教中心</a></span><span class="date">2017-01-20</span></li>
                        <li><span class="left"><a href="#">中阳县职教中心</a></span><span class="date">2017-01-20</span></li>
                        <li><span class="left"><a href="#">中阳县职教中心</a></span><span class="date">2017-01-20</span></li>
                        <li><span class="left"><a href="#">中阳县职教中心</a></span><span class="date">2017-01-20</span></li>
                        <li><span class="left"><a href="#">中阳县职教中心</a></span><span class="date">2017-01-20</span></li>
                    </ul>    
                </div>
        </div>
        <!-- 内容第一栏结束 -->
        
        <!-- 专业栏开始 -->
        <!-- <div class="major">
            <div class="major-banner">
                
                    <div class="banner-btn">
                
                        <a href="javascript:;" class="prevBtn"><i></i></a>
                
                        <a href="javascript:;" class="nextBtn"><i></i></a>
                
                    </div>
                
                    <ul class="banner-img">
                
                        <li><a href="#"><img src="../images/banner1.webp"></a></li>
                
                        <li><a href="#"><img src="../images/banner2.jpg"></a></li>
                
                        <li><a href="#"><img src="../images/banner3.jpg"></a></li>
                
                        <li><a href="#"><img src="../images/banner4.jpg"></a></li>
                
                        <li><a href="#"><img src="../images/banner5.jpg"></a></li>
                
                        <li><a href="#"><img src="../images/banner6.jpg"></a></li>
                
                    </ul>
                
                    <ul class="banner-circle"></ul>
                
                </div>
        </div> -->
        <!-- 专业栏目结束 -->
    </div>
    <!-- 底部栏开始 -->
    <div class="footer">
        <div class="footercontent">
            <div class="bottom">
                <img src="../images/xiaohui.png" alt="">
            </div>
            <div class="bottom">
                <div class="title">学校电话</div>
                <ul>
                        <li>办公室电话：03582862088</li>
                        <li>教务处电话：03582862077</li>
                        <li>招就办电话：03582862003</li>
                    
                </ul>
            </div>
            <div class="bottom">
                <div class="title">官方媒体</div>
                <ul>
                    <li>官方微信：中阳职教中心</li>
                    <li>官方网站：zyxzjzx.duapp.com</li>
                    
                </ul>
            </div>
            <div class="bottom">
                <div class="title">联系我们</div>
                <ul>
                    <li>地址：山西省中阳县宁乡镇凤城北街高级职业中学</li>
                    <li>邮编：033000</li>
                    
                </ul>
            </div>
        </div>
    </div>
    <!-- 底部栏结束 -->
</body>
<script src="../js/index.js"></script>
</html>