<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中阳县职教中心</title>
    <link rel="icon" href="../images/xiaohui.png">
</head>
<link rel="stylesheet" href="../css/index.css">
<script src="../js/jquery.js"></script>
<body>
    <!-- 头部开始 -->
    <div class="header">
        <div class="headercontent">
            <img src="../images/xiaohui.png" alt="" class="xiaohui">
            <img class="schoolName" src="../images/zhijiaozhongxin.png" alt="">
            <div class="time"></div>
        </div>
    <!-- 头部结束 -->
    </div>
    <!-- 导航开始 -->
    <div class="nav">
        <div class="navcontent">
            <a href="/">网站首页</a>
            <a href="">学校简介</a>
            <a href="">校园新闻</a>
            <a href="">学生风采</a>
            <a href="">专业简介</a>
            <a href="">招生动态</a>
        </div>
    </div>
    <!-- 导航结束 -->
    <!-- banner开始 -->
    <div class="banner">
        <div class="bannerbox">    
        <div id="banner">
        
          <div id="banner_bg"></div>
        
          <!--标题背景-->
        
          <div id="banner_info"></div>
        
          <!--标题-->
        
          <ul>
        
            <li class="on">1</li>
        
            <li>2</li>
        
            <li>3</li>
        
            <li>4</li>
        
          </ul>
        
          <div id="banner_list"> 
        
            <a href="#" target="_blank"><img src="../images/banner1.webp" title="校园风采" alt="校园风采"/></a> 
        
            <a href="#" target="_blank"><img src="../images/banner2.webp" title="县人大领导来我校调研" alt="县人大领导来我校调研"/></a> 
        
            <a href="#" target="_blank"><img src="../images/banner3.jpg" title="学生军训实录" alt="学生军训实录"/></a> 
        
            <a href="#" target="_blank"><img src="../images/banner4.webp" title="学生风采" alt="学生风采"/></a> 
        
         </div>
        
        </div>
        </div>
    </div>
    <!-- banner结束 -->
    <div class="middlecontent">
        <!-- 内容专题栏开始 -->
        <div class="colum">
            <div class="fuceng"></div>
            <a href="./shenbao"><img src="../images/shenbao.png" alt="" class="columcontent"></a>
        </div>
        <!-- 内容专题栏结束 -->
        <!-- 内容第一栏开始 -->
        <div class="first">
            <div class="shenbao">
                <div class="title">
                    <div class="icon"></div>
                    <b>校园快讯</b>
                    <a href='#' class="more">更多>></a>
                </div>
                <ul class="list">
                    <li><span class="left"><a href="/detail">中阳职中给您拜年啦！</a></span><span class="date">2018年2月15日</span></li>
                    <li><span class="left"><a href="#">中阳职中2017年总结表彰暨迎新联欢会圆满结束</a></span><span class="date">2017年12月29日</span></li>
                    <li><span class="left"><a href="#">中阳职中班级文化建设火热开展</a></span><span class="date">2017年12月29日</span></li>
                    <li><span class="left"><a href="#">中阳职中班级文化建设火热开展</a></span><span class="date">2017年12月21日</span></li>
                    <li><span class="left"><a href="#">中阳职中开展2017年秋季家长开放周活动</a></span><span class="date">2017年12月21日</span></li>
                </ul>    
            </div>
            <div class="shenbao">
                    <div class="title">
                        <div class="icon notice"></div>
                        <b>通知公告</b>
                        <a href='#' class="more">更多>></a>
                    </div>
                    <ul class="list">
                        <li><span class="left"><a href="#">中阳县职教中心</a></span><span class="date">2017-01-20</span></li>
                        <li><span class="left"><a href="#">中阳县职教中心</a></span><span class="date">2017-01-20</span></li>
                        <li><span class="left"><a href="#">中阳县职教中心</a></span><span class="date">2017-01-20</span></li>
                        <li><span class="left"><a href="#">中阳县职教中心</a></span><span class="date">2017-01-20</span></li>
                        <li><span class="left"><a href="#">中阳县职教中心</a></span><span class="date">2017-01-20</span></li>
                    </ul>    
                </div>
        </div>
        <!-- 内容第一栏结束 -->
        
        <!-- 专业栏开始 -->
        <!-- <div class="major">
            <div class="major-banner">
                
                    <div class="banner-btn">
                
                        <a href="javascript:;" class="prevBtn"><i></i></a>
                
                        <a href="javascript:;" class="nextBtn"><i></i></a>
                
                    </div>
                
                    <ul class="banner-img">
                
                        <li><a href="#"><img src="../images/banner1.webp"></a></li>
                
                        <li><a href="#"><img src="../images/banner2.jpg"></a></li>
                
                        <li><a href="#"><img src="../images/banner3.jpg"></a></li>
                
                        <li><a href="#"><img src="../images/banner4.jpg"></a></li>
                
                        <li><a href="#"><img src="../images/banner5.jpg"></a></li>
                
                        <li><a href="#"><img src="../images/banner6.jpg"></a></li>
                
                    </ul>
                
                    <ul class="banner-circle"></ul>
                
                </div>
        </div> -->
        <!-- 专业栏目结束 -->
    </div>
    <!-- 底部栏开始 -->
    <div class="footer">
        <div class="footercontent">
            <div class="bottom">
                <img src="../images/xiaohui.png" alt="">
            </div>
            <div class="bottom">
                <div class="title">学校电话</div>
                <ul>
                    <li>教导处电话：</li>
                    <li>政教处电话：</li>
                    
                </ul>
            </div>
            <div class="bottom">
                <div class="title">官方媒体</div>
                <ul>
                    <li>官方微信：中阳职教中心</li>
                    <li>官方网站：zyxzjzx.duapp.com</li>
                    
                </ul>
            </div>
            <div class="bottom">
                <div class="title">联系我们</div>
                <ul>
                    <li>地址：山西省中阳县宁乡镇凤城北街高级职业中心</li>
                    <li>邮编：033000</li>
                    
                </ul>
            </div>
        </div>
    </div>
    <!-- 底部栏结束 -->
</body>
<script src="../js/index.js"></script>
</html>