<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中阳县职教中心</title>
    <link rel="icon" href="../images/xiaohui.png">
</head>
<link rel="stylesheet" href="../css/index.css">
<link rel="stylesheet" href="../css/shenbao.css">
<script src="../js/jquery.js"></script>
<body>
    <!-- 头部开始 -->
    <div class="header">
        <div class="headercontent">
            <img src="../images/xiaohui.png" alt="" class="xiaohui">
            <img class="schoolName" src="../images/zhijiaozhongxin.png" alt="">
        </div>
    <!-- 头部结束 -->
    </div>
    <!-- 导航开始 -->
    <div class="nav">
        <div class="navcontent">
            <a href="/">网站首页</a>
            <a href="">学校简介</a>
            <a href="">校园新闻</a>
            <a href="">学生风采</a>
            <a href="">专业简介</a>
            <a href="">招生动态</a>
        </div>
    </div>
    <!-- 导航结束 -->
    <!-- banner开始 -->
    <div class="banner">
        <div class="bannerbox">    
        <div id="banner">
        
          <div id="banner_bg"></div>
        
          <!--标题背景-->
        
          <div id="banner_info"></div>
        
          <!--标题-->
        
          <ul>
        
            <li class="on">1</li>
        
            <li>2</li>
        
            <li>3</li>
        
            <li>4</li>
        
          </ul>
        
          <div id="banner_list"> 
        
            <a href="#" target="_blank"><img src="../images/banner1.webp" title="校园风采" alt="校园风采"/></a> 
        
            <a href="#" target="_blank"><img src="../images/banner2.webp" title="县人大领导来我校调研" alt="县人大领导来我校调研"/></a> 
        
            <a href="#" target="_blank"><img src="../images/banner3.jpg" title="学生军训实录" alt="学生军训实录"/></a> 
        
            <a href="#" target="_blank"><img src="../images/banner4.webp" title="学生风采" alt="学生风采"/></a> 
        
         </div>
        
        </div>
        </div>
    </div>
    <!-- banner结束 -->
    <div class="middlecontent">
        <div class="navbox">
            <div class="title"><b>省级中等职业教育改革发展示范校建设单位申报</b></div>
                <div class="topbook"><a href="">《中阳县职教中心学校省级中等职业教育改革发展示范校项目申报书》</a></div>
                <div class="topbook"><a href="">《中阳县职教中心学校省级中等职业教育改革发展示范校项目建设规划方案》</a></div>
                
                <div class="subNavBox">
                        
                    <div class="subNav currentDd currentDt">学校管理</div>
        
                    <ul class="navContent " style="display:block">
        
                            <li><a href="#">办学方向</a></li>
        
                            <li><a href="#">办学行为</a></li>
        
                            <li><a href="#">管理队伍</a></li>
        
                            <li><a href="#">管理水平</a></li>
        
                    </ul>
        
                    <div class="subNav">基础条件</div>
        
                    <ul class="navContent">
        
                            <li><a href="#">校园校舍</a></li>
        
                            <li><a href="#">设施设备</a></li>
        
                            <li><a href="#">师资队伍</a></li>
        
                            <li><a href="#">信息化建设</a></li>
                            <li><a href="#">办学环境</a></li>
                            
        
                    </ul>
        
                    <div class="subNav">校企合作</div>
        
                    <ul class="navContent">
        
                            <li><a href="#">办学模式</a></li>
        
                            <li><a href="#">顶岗实习</a></li>
        
                            <li><a href="#">专家参与</a></li>
        
                    </ul>
        
                    <div class="subNav">教育教学</div>
        
                    <ul class="navContent">
        
                            <li><a href="#">德育工作</a></li>
        
                            <li><a href="#">专业建设</a></li>
        
                            <li><a href="#">模式创新</a></li>
        
                            <li><a href="#">课程体系</a></li>
        
                            <li><a href="#">师资队伍建设</a></li>
        
                    </ul>
                    <div class="subNav">办学效益</div>
                    
                    <ul class="navContent">
        
                            <li><a href="#">招生就业</a></li>
        
                            <li><a href="#">教育成果</a></li>
        
                            <li><a href="#">服务社会</a></li>
        
                            <li><a href="#">社会贡献</a></li>
        
                    </ul>
                    
                </div>
                <div class="right">right</div>
                <div class="clear"></div>
        </div>
            
    </div>
    <!-- 底部栏开始 -->
    <div class="footer">
        <div class="footercontent">
            <p>中阳县职教中心</p>
            <p>中阳县职教中心中阳县职教中心中阳县职教中心中阳县职教中心</p>
        </div>
    </div>
    <!-- 底部栏结束 -->
</body>
<script src="../js/index.js"></script>
<script src="../js/shenbao.js"></script>

</html>